{% extends 'tresor/layout.html' %}

{% block body %}

<div class="container3" id="bio">
    <h1 style="background-color: brown; color: white; text-align: center;">Bioraphie</h1>
    <hr>
    <p style="text-indent: 20px; font-family: 'Open Sans' !important;">
        Trésor Adzanto est un étudiant passionné en mathématiques à l'Université de Lomé, où il explore les profondeurs des théories mathématiques et leur application dans le monde réel. En parallèle, Trésor s'est aventuré dans le domaine du développement web, où il crée des solutions numériques innovantes et fonctionnelles. Son intérêt pour la résolution de problèmes complexes et son esprit analytique se reflètent autant dans ses études que dans ses projets web. Trésor combine la rigueur des mathématiques avec la créativité du codage pour donner vie à des projets ambitieux et percutants. Lorsqu'il n'est pas plongé dans des équations ou des lignes de code, Trésor aime [tes loisirs, comme lire, voyager, ou pratiquer un sport], cherchant toujours à apprendre et à grandir dans ses domaines de prédilection.
    </p>
</div>


{% endblock %}