{% extends 'tresor/layout.html' %}

{% block body %}

<div class="container2">
    <header>
      <h1>Adzanto Trésor</h1>
      <p>Étudiant, Développeur Web</p>
    </header>
    <section class="contact-info">
      <h2>Contact</h2>
      <p>Email : tresoradzanto7@gmail.com</p>
      <p>Téléphone : +228 98935845</p>
      <p>Adresse : Lomé, Togo</p>
    </section>
    <section class="experience">
      <h2>Expérience</h2>
      <div class="job">
        <h3>Développeur Web - cs50</h3>
        <p>Date : Janvier 2024 - Présent</p>
        <p>Dévéllopeur fullstack</p>
      </div>
    </section>
    <section class="education">
      <h2>Éducation</h2>
      <p>2022: BAC 2 série D</p>
      <p>2021: BAC 1 série C</p>
      <p>2019: BEPC</p>
      <p>2015: CEPD</p>
    </section>
    <section class="skills">
      <h2>Compétences</h2>
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript, framework Réact.Js</li>
        <li>Python, framework django</li>
        <li>Github</li>
      </ul>
    </section>
  </div>

{% endblock %}