:root {
    --bg-color:white;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}

body {
    max-width: 800px;
    margin: 0 auto;
    background-color: var(--bg-color);
}

a {
    color: #0070FF;
}

.active {
    color: #6CB4EE;
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.header h2 {
    font-weight: 700;
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 2rem;

}

.header .image img {
    width: 150px;
}

.header .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
}

.nav ul {
    display: flex;
    list-style-type: none;
    gap: 3rem;
    color: #666;
}

.nav ul li {
    font-size: 1.2rem;
}

.nav ul li:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #6CB4EE;
}

.content {
    width: 100%;
    color: #333;
    line-height: 1.5;
    margin-bottom: 4rem;
    margin-top: 1rem;
}

.content p {
    font-size: 1.1rem;

}

#home {
    background-color: #F0F8FF;
    padding: 2rem;
}

#home a{
    text-decoration: none;
}

#home a:hover {
    text-decoration: underline;
}


.page {
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 1rem;
}

.page ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.page ul li {
    width: 100px;
    padding: 0.5rem 1rem;
}

.page ul .github {
    background-color: #666 ;
    color: white ;
}
.page ul .github a {
    color: white ;
}

.page ul .email {
    background-color: #FE6F5E ;
    color: white ;
}
.page ul .email a {
    color: white ;
}

.page ul .discord {
    background-color: #6082B6 ;
    color: white ;
}
.page ul .discord a {
    color: white ;
}

.page ul .reddit {
    background-color: #FE0000 ;
    color: white ;
}
.page ul .reddit a {
    color: white ;
}

.page ul li svg {
    width: 40px;
}

.page ul li a {
    margin-bottom: 0.5rem;
    text-decoration: none;
    font-size: 1.1rem;
    gap: 0.5rem;
    display: flex;
    align-items: center;
    text-decoration: none !important;
}


#project {
    display: flex;
    flex-direction: column;
}

.project-image {
    background-color: #666;
    padding: 1.5rem 1.5rem 0;
    border-radius: 0.5rem 0.5rem 0 0;

    display: flex;

    align-items: center;
}

.project img {
    max-width: 300px;

}

.project {
    display: flex;
    gap: 2rem;
    margin-bottom: 1.5rem;
    background-color: #F0F8FF;
    padding: 2rem;
    border-radius: 0.5rem;
}

.project .info {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.project button {
    padding: 0.5rem 1rem;
    background-color: #1E90FF;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: hover;
}

.project-info-links svg {
    width: 20px;
}

.project-info-links button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.p {
    color: #333 !important;
    text-decoration: none !important;
}

.ins {
    padding: 1rem;
}

.ins p {
    color: #666;
}

@media (max-width:600px) {

    .header h2 {
        font-weight: 700;
        font-size: 1.6rem;
        color: #333;
    }

    .content {
        margin: 1rem;
    }

    .content p {
        font-size: 1.1rem;

    }

    #home,
    #projects {
        padding: 1rem;
    }

    .page ul {
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .page ul li {
        background-color: #6CB4EE;
        width: 100px;
        padding: 0.2rem 0.8rem;
    }

    .project {
        flex-direction: column;
        margin: 1rem;
    }


    .project-image {
        background-color: #666;
        padding: 0.5rem 0.5rem 0;
        border-radius: 0.3rem 0.3rem 0 0;
        display: flex;
        align-items: center;
    }

    .project img {
     min-width: 150px;
        margin: 0 auto;
    }

}


@media (max-width:360px) {
    
}