/*--------------------- GLOBAL --------------------- */
:root {

  /* Light mode colors */
  --grey-base: #495057;
  --grey-tint: #f1f3f5;
  --grey-shade: #212529;
  --white: #ffffff;
  --black: #000000;
  --blue: #86bae4;
  --bg: #e9ecef;
  --border-color: #fef3c7;
  --box-shadow: 0 8px 24px rgba(3, 3, 3, 0.5);
  --text-paragraph-color: rgb(85, 85, 85);

  

  /* FONT SIZES */
  --text-sm: clamp(1rem, 1vw + 0.5rem, 1.2rem);
  --text-base: clamp(1.6rem, 1vw + 0.6rem, 1.7rem);
  --text-paragraph: clamp(1.6rem, 2vw + 0.5rem, 2rem);
  --text-h5: clamp(2rem, 2vw + 0.4rem, 2.4rem);
  --text-h4: clamp(2.4rem, 2vw + 0.8rem, 3.2rem);
  --text-h3: clamp(3rem, 3vw + 1rem, 4rem);
  --text-h2: clamp(3.6rem, 3vw + 1.2rem, 4.8rem);
  --text-h1: clamp(4rem, 4vw + 1rem, 6.2rem);
  --icone-size: clamp(2.4rem, 1vw + 0.5rem, 2.2rem);


  /* FONT WEIGHT */
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  /* LINE HEIGHTS */
  --line-height-tight: 1.2;
  --line-height-normal: 1.5;

  /* LETTER SPACING */
  --letter-spacing-tight: -2px;

  /* FONT FAMILY */
  --font-family: 'Poppins', sans-serif;

  --nav-height: 70px;
}

/* Dark mode colors */
@media (prefers-color-scheme: dark) {
  :root:not(.light) {
    --grey-base: #ced4da;
    --grey-tint: #343a40;
    --grey-shade: #a3a6a8;
    --white: #181a1b;
    --black: #ffffff;
    --blue: #86bae4;
    --bg: #343a40;
    --border-color: #495057;
    --box-shadow: 0 8px 24px rgba(0, 0, 0, 1);
    --text-paragraph-color: rgb(201, 196, 196);
  }
}

 

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 55%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-normal);
  color: var(--grey-shade);
  background: var(--white);
  transition: background 0.3s, color 0.3s;

}

.container {
  max-width: 1000px;
  margin: 0 auto;
  width: 90%;
}

h1,
h2,
h3,
h6 {
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-tight);
  letter-spacing: var(--letter-spacing-tight);
  color: var(--grey-shade);
}

h1 {
  font-size: var(--text-h1);
}

h2 {
  font-size: var(--text-h2);
}

h3 {
  font-size: var(--text-h3);
}

h4 {
  font-size: var(--text-h4);
}

h5 {
  font-size: var(--text-h5);
}

p {
  font-size: var(--text-paragraph);
  color: var(--text-paragraph-color);
}

a {
  text-decoration: none;
  font-size: var(--text-base);
  display: inline-block;
}

ul {
  list-style: none;
}

.small-text {
  font-size: 1.75rem;
  font-weight: var(--font-weight-bold);
  opacity: 0.5;
}

a,
.btn {
  transition: all 300ms ease;
}

.message{
    background-color: var(--blue);
    padding: 3rem 6rem;
    color: var(--black);
    margin: 5rem;
    border-radius: 2rem;
}

.back-btn{
    padding: 1rem 2rem;
    background-color: var(--blue);
    padding: 1rem 2rem;
    color: var(--black);
    margin: 1rem;
}

