*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: rgba(214, 212, 99, 0.767);
    font-size: 100%;
}

.container{
    margin: 40px;
    display: flex;
    justify-content: center;

}

.section-text{
    margin-right: 20px;
    padding: 10px;
    text-align: end;
    border-right: 1px solid black;
}

.liens{
    font-size: 15px !important;
}
a{
    color: brown;
    font-family: ' sans-serif';
    font-style: italic;
    text-decoration: none;
}
